<section class="hp-posts">
  <div class="container-big">
    <div class="row gy-10 mb-10">
      <div class="col-lg-4">
        <div class="hp-post">
          <a href="#" class="hp-post__img">
            <img src="images/content/b.png" alt="" loading="lazy" />
          </a>
          <div class="hp-post__info">
            <h3>Nadpis článku</h3>
            <p>
              Stuha, kterou je každý z trojice balónků uvázán, aby se
              nevypustil. Očividně je uvázaná dostatečně pevně, protože balónky
              skutečně neucházejí. To ale není nic zvláštního. Překvapit by však
              mohl fakt, že nikdo, snad krom toho, kdo balónkyk obloze vypustil,
              netuší, jakou má ona stuha barvu. Je totiž tak lesklá, že za
              světla se v ní odráží nebe a za tmy zase není vidět vůbec. Když
              svítí slunce tak silně jako nyní, tak se stuha třpytí jako kapka
              rosy a jen málokdo vydrží dívat se na ni přímo déle než pár chvil.
            </p>
            <a class="hp-post__btn" href="#">Přejít na článek</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-post">
          <a href="#" class="hp-post__img">
            <img src="images/content/b.png" alt="" loading="lazy" />
          </a>
          <div class="hp-post__info">
            <h3>Nadpis článku</h3>
            <p>
              Stuha, kterou je každý z trojice balónků uvázán, aby se
              nevypustil. Očividně je uvázaná dostatečně pevně, protože balónky
              skutečně neucházejí. To ale není nic zvláštního. Překvapit by však
              mohl fakt, že nikdo, snad krom toho, kdo balónkyk obloze vypustil,
              netuší, jakou má ona stuha barvu. Je totiž tak lesklá, že za
              světla se v ní odráží nebe a za tmy zase není vidět vůbec. Když
              svítí slunce tak silně jako nyní, tak se stuha třpytí jako kapka
              rosy a jen málokdo vydrží dívat se na ni přímo déle než pár chvil.
            </p>
            <a class="hp-post__btn" href="#">Přejít na článek</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-post">
          <a href="#" class="hp-post__img">
            <img src="images/content/b.png" alt="" loading="lazy" />
          </a>
          <div class="hp-post__info">
            <h3>Nadpis článku</h3>
            <p>
              Stuha, kterou je každý z trojice balónků uvázán, aby se
              nevypustil. Očividně je uvázaná dostatečně pevně, protože balónky
              skutečně neucházejí. To ale není nic zvláštního. Překvapit by však
              mohl fakt, že nikdo, snad krom toho, kdo balónkyk obloze vypustil,
              netuší, jakou má ona stuha barvu. Je totiž tak lesklá, že za
              světla se v ní odráží nebe a za tmy zase není vidět vůbec. Když
              svítí slunce tak silně jako nyní, tak se stuha třpytí jako kapka
              rosy a jen málokdo vydrží dívat se na ni přímo déle než pár chvil.
            </p>
            <a class="hp-post__btn" href="#">Přejít na článek</a>
          </div>
        </div>
      </div>
    </div>

    <a class="topstory__btn" href="#">Všechny články</a>
  </div>
</section>
