.hp-links {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  &__icon {
    margin-bottom: 12px;
    svg {
      width: 92px;
      height: 92px;
      display: block;
    }
  }
  &__link {
    background: rgba(#f4f4f41a, 0.1);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 16px;
    text-align: center;
    padding: 24px 35px;
    text-decoration-color: transparent;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
    h4 {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    p {
      opacity: 0.72;
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }
  }
  &__item {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 12px;
    margin-bottom: 24px;
    @include media-breakpoint-only(lg) {
      max-width: 25%;
      flex: 0 0 25%;
    }
    @include media-breakpoint-only(md) {
      max-width: 33.333%;
      flex: 0 0 33.333%;
    }
    @include media-breakpoint-only(sm) {
      max-width: 50%;
      flex: 0 0 50%;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      flex: 100%;
    }
  }
}
