<div class="hp-links">
  <div class="container">
    <div class="hp-links__inner">
      <ul class="hp-links__list">
        <li class="hp-links__item">
          <a class="hp-links__link" href="#">
            <div class="hp-links__icon">
              <img src="images/ico/5k.svg" alt="" />
            </div>
            <h4>Opavská míle</h4>
            <p>43. let českého rekordu na 5000 m Jiřího Sýkory</p>
          </a>
        </li>
        <li class="hp-links__item">
          <a class="hp-links__link" href="#">
            <div class="hp-links__icon">
              <img src="images/ico/les.svg" alt="" />
            </div>
            <h4>5k opava</h4>
            <p>43. let českého rekordu na 5000 m Jiřího Sýkory</p>
          </a>
        </li>

        <li class="hp-links__item">
          <a class="hp-links__link" href="#">
            <div class="hp-links__icon">
              <img src="images/ico/mile.svg" alt="" />
            </div>
            <h4>Pivní míle</h4>
            <p>Vyexuj a běž!</p>
          </a>
        </li>
        <li class="hp-links__item">
          <a class="hp-links__link" href="#">
            <div class="hp-links__icon">
              <img src="images/ico/pivo.svg" alt="" />
            </div>
            <h4>Slavkovský lesík</h4>
            <p>43. let českého rekordu na 5000 m Jiřího Sýkory</p>
          </a>
        </li>
        <li class="hp-links__item">
          <a class="hp-links__link" href="#">
            <div class="hp-links__icon">
              <img src="images/ico/vanoce.svg" alt="" />
            </div>
            <h4>vánoční běh</h4>
            <p>Předvánoční žranicí, proběhni se vánicí!</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
