.o-content {
  ul {
    font-size: 16px;
    line-height: 23px;
    margin: 24px auto;
    max-width: 32.5rem;
    width: 100%;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
    > li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 8px;
      &::before {
        content: "";
        background-color: var(--color-pink);
        position: absolute;
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  ol {
    font-size: 16px;
    line-height: 23px;
    margin: 24px auto;
    counter-reset: item;
    max-width: 32.5rem;
    width: 100%;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
    > li {
      counter-increment: item;
      position: relative;
      padding-left: 32px;
      margin-bottom: 8px;
      &::before {
        content: counter(item) ")";
        color: var(--color-pink);
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
  h2 {
    margin-bottom: 16px;
    margin-top: 40px;
    @include media-breakpoint-down(lg) {
      margin-top: 24px;
    }
  }
  p {
    margin: 0 auto 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    max-width: 32.5rem;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      margin-bottom: 16px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 600/420;
    border-radius: 8px;
    @include media-breakpoint-down(lg) {
      margin-top: 24px;
    }
  }
}
.h1,
.o-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: "handel-gothic", sans-serif;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 40px;
  }
}

.h2,
.o-content h2 {
  color: var(--main-green);
  font-family: "handel-gothic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
