.header-section {
  background-color: var(--main-green);
  box-shadow: 0px 4px 84px 0px #03061a3d;
  border-radius: 0px 0px 48px 48px;
  padding-bottom: 32px;
  position: relative;
  margin-bottom: 52px;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 500px;
    height: 480px;
    background-image: url("../images/ico/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1120px;
    height: 481px;
    left: 0;
    top: 0;
    background-image: url("../images/ico/bg-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: skew(-75deg, 28deg);
    border-radius: 48px 0px 0px 0px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: none;
    position: relative;
    z-index: 999;
    padding-top: 16px;
    padding-bottom: 16px;
    a {
      border-radius: 88px;
      border: 1px solid var(--color-light);
      padding: 8px 32px;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      text-align: left;
      text-decoration: none;
      transition: all 0.3s;
      color: var(--color-light);
      display: block;
      &:hover,
      &:focus {
        background: #353535;
        border: 1px solid var(--color-light);
      }
    }
    .active {
      background-color: var(--color-pink);
      border: 1px solid var(--color-pink);
      &:hover,
      &:focus {
        background-color: var(--color-pink);
        border: 1px solid var(--color-pink);
      }
    }
  }
  .h1 {
    color: var(--color-light);
    text-transform: uppercase;
    position: relative;
    z-index: 22;
    margin-bottom: 16px;
    letter-spacing: 1.7px;
  }
  &__menu {
    padding-top: 22px;
  }
}

.tab-pane.fade {
  display: none;
}
.tab-pane.active {
  display: block;
}
