<section class="hp-map">
  <div class="container">
    <div class="row g-10">
      <div class="col-lg-6">
        <div class="o-content">
          <h2>Podnadpis, delší, 2-6 slov</h2>
          <p>
            Stuha, kterou je každý z trojice balónků uvázán, aby se nevypustil.
            Očividně je uvázaná dostatečně pevně, protože balónky skutečně
            neucházejí. To ale není nic zvláštního. Překvapit by však mohl fakt,
            že nikdo, snad krom toho, kdo balónkyk obloze vypustil, netuší,
            jakou má ona stuha barvu. Je totiž tak lesklá, že za světla se v ní
            odráží nebe a za tmy zase není vidět vůbec. Když svítí slunce tak
            silně jako nyní, tak se stuha třpytí jako kapka rosy a jen málokdo
            vydrží dívat se na ni přímo déle než pár chvil.
          </p>
          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě. Nejvíc bezpochyby zaujmou děti - jedna malá
            holčička zrovna včera div nebrečela, že by snad balónky mohly
            prasknout. A co teprve ta stuha. Stuha, kterou je každý z trojice
            balónků uvázán, aby se nevypustil. Očividně je uvázaná dostatečně
            pevně, protože balónky skutečně neucházejí.
          </p>
          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hp-map__item">
          <iframe
            src="https://www.google.com/maps/d/embed?mid=1oszSmXE_BIIag1U2CkglAzChxkU&ehbc=2E312F"
            width="640"
            height="480"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
