<section class="partners-section">
  <div class="container">
    <h3>Partneři wom</h3>
    <div class="partners-section__box">
      <h4>Hlavní partner Opavské míle:</h4>
      <a href="#" class="partners__main">
        <img src="images/content/partners/1.png" alt="anima" />
      </a>
    </div>
    <div class="partners-section__box">
      <h4>Podporující instituce</h4>
      <div class="partners-section__row">
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/2.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/3.png" alt="anima" />
        </a>
      </div>
    </div>
    <div class="partners-section__box">
      <h4>Oficiální partneři</h4>
      <div class="partners-section__row">
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/4.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/5.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/6.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/7.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/8.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/9.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/10.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/11.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/12.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/13.png" alt="anima" />
        </a>
      </div>
    </div>
    <div class="partners-section__box">
      <h4>Oficiální dodavatelé</h4>
      <div class="partners-section__row" style="max-width: 900px">
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/14.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/15.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/16.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/17.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/18.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/19.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/20.png" alt="anima" />
        </a>
        <a href="#" class="partners-section__partner">
          <img src="images/content/partners/21.png" alt="anima" />
        </a>
      </div>
    </div>
  </div>
</section>
