<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <a href="#" class="footer__logo">
          <img src="images/ico/logo-ff.svg" alt="" />
        </a>
        <ul class="footer__info">
          <li>Sídlo: Tolstého 16746 01 Opava</li>
          <li>
            <a href="tel:+420737185445">+420 737 185 445</a>
          </li>
          <li>
            <a href="mailto:behopava@seznam.cz">behopava@seznam.cz</a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom">
        <ul class="footer__list">
          <li>
            <a href="#">Cookies</a>
          </li>
          <li>
            <a href="#">Copyright</a>
          </li>
          <li>
            <a href="#">Fakturační údaje</a>
          </li>
          <li>
            <a href="#">Přístupnost</a>
          </li>
          <li>
            <a href="#">Podmínky použití webu</a>
          </li>
          <li>
            <a href="#">Obchodní podmínky</a>
          </li>
        </ul>
        <div class="footer__link">
          Vyrobeno v
          <a href="#"><img src="images/ico/esports.svg" alt="" /> </a>
          v roce 2023
        </div>
      </div>
    </div>
  </div>
</footer>
