<div class="topstory">
  <div class="container-big">
    <div
      class="topstory__inner"
      style="background-image: url('images/content/topstory.png')"
    >
      <div class="topstory__content">
        <div class="topstory__left">
          <div class="topstory__date">5. 9. 2023 v 18:00</div>
          <h1 class="topstory__title">
            <span>OD</span>
            Splitu
          </h1>
        </div>
        <div class="topstory__subtitle">
          Nejrychlejší závod v české republice
        </div>
        <div class="topstory__right">
          <h2 class="topstory__title">
            <span>Ke</span>
            Kouli
          </h2>
          <button class="topstory__btn">Přihlásit se</button>
        </div>
      </div>
    </div>
  </div>
</div>
