{% extends "@components/base/base.twig" %} {% set title = "02.0_photogallery" %}
{% block header %} {% include "@components/header/header.twig" %}
<div class="header-section__menu">
  <div class="container">
    <h1 class="h1">Fotogalerie</h1>
    <ul class="nav nav-tabs">
      <li class="col-auto">
        <a data-toggle="tab" class="active" href="#2018"> 2018 </a>
      </li>
      <li class="col-auto">
        <a data-toggle="tab" href="#2019"> 2019</a>
      </li>
      <li class="col-auto">
        <a data-toggle="tab" href="#2020"> 2020 </a>
      </li>
      <li class="col-auto">
        <a data-toggle="tab" href="#2021"> 2021 </a>
      </li>
      <li class="col-auto">
        <a data-toggle="tab" href="#2022"> 2022 </a>
      </li>
      <li class="col-auto">
        <a data-toggle="tab" href="#2023"> 2023 </a>
      </li>
    </ul>
  </div>
</div>

{% endblock %} {% block main %} {% endblock %}
