{% extends "@components/base/base.twig" %} {% set title = "03.0_static" %} {%
block header %} {% include "@components/header/header.twig" %}
<div class="header-section__menu">
  <div class="container">
    <h1 class="h1">Obecná podstránka</h1>
  </div>
</div>

{% endblock %} {% block main %}
<section class="static-section">
  <div class="o-content">
    <div class="container">
      <div class="row g-lg-10 g-5">
        <div class="col-lg-6">
          <p>
            Stuha, kterou je každý z trojice balónků uvázán, aby se nevypustil.
            Očividně je uvázaná dostatečně pevně, protože balónky skutečně
            neucházejí. To ale není nic zvláštního. Překvapit by však mohl fakt,
            že nikdo, snad krom toho, kdo balónkyk obloze vypustil, netuší,
            jakou má ona stuha barvu. Je totiž tak lesklá, že za světla se v ní
            odráží nebe a za tmy zase není vidět vůbec. Když svítí slunce tak
            silně jako nyní, tak se stuha třpytí jako kapka rosy a jen málokdo
            vydrží dívat se na ni přímo déle než pár chvil.
          </p>
          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě. Nejvíc bezpochyby zaujmou děti - jedna malá
            holčička zrovna včera div nebrečela, že by snad balónky mohly
            prasknout. A co teprve ta stuha. Stuha, kterou je každý z trojice
            balónků uvázán, aby se nevypustil. Očividně je uvázaná dostatečně
            pevně, protože balónky skutečně neucházejí.
          </p>
          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě.
          </p>
          <br />
          <p>
            Stuha, kterou je každý z trojice balónků uvázán, aby se nevypustil.
            Očividně je uvázaná dostatečně pevně, protože balónky skutečně
            neucházejí. To ale není nic zvláštního. Překvapit by však mohl fakt,
            že nikdo, snad krom toho, kdo balónkyk obloze vypustil, netuší,
            jakou má ona stuha barvu. Je totiž tak lesklá, že za světla se v ní
            odráží nebe a za tmy zase není vidět vůbec. Když svítí slunce tak
            silně jako nyní, tak se stuha třpytí jako kapka rosy a jen málokdo
            vydrží dívat se na ni přímo déle než pár chvil.
          </p>
          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě. Nejvíc bezpochyby zaujmou děti - jedna malá
            holčička zrovna včera div nebrečela, že by snad balónky mohly
            prasknout. A co teprve ta stuha. Stuha, kterou je každý z trojice
            balónků uvázán, aby se nevypustil. Očividně je uvázaná dostatečně
            pevně, protože balónky skutečně neucházejí.
          </p>

          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě.
          </p>
          <h2>Podnadpis, delší, 2-6 slov</h2>
          <p>
            Stuha, kterou je každý z trojice balónků uvázán, aby se nevypustil.
            Očividně je uvázaná dostatečně pevně, protože balónky skutečně
            neucházejí. To ale není nic zvláštního. Překvapit by však mohl fakt,
            že nikdo, snad krom toho, kdo balónkyk obloze vypustil, netuší,
            jakou má ona stuha barvu. Je totiž tak lesklá, že za světla se v ní
            odráží nebe a za tmy zase není vidět vůbec. Když svítí slunce tak
            silně jako nyní, tak se stuha třpytí jako kapka rosy a jen málokdo
            vydrží dívat se na ni přímo déle než pár chvil.
          </p>
          <ul>
            <li>
              <strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis enim
              </strong>
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis enim
            </li>
            <li>
              <strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong
              >
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis enim Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Perferendis enim
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis enim >
            </li>
          </ul>
          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě. Nejvíc bezpochyby zaujmou děti - jedna malá
            holčička zrovna včera div nebrečela, že by snad balónky mohly
            prasknout. A co teprve ta stuha. Stuha, kterou je každý z trojice
            balónků uvázán, aby se nevypustil. Očividně je uvázaná dostatečně
            pevně, protože balónky skutečně neucházejí.
          </p>
          <ol>
            <li>
              <strong
                ><a href="#">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perferendis enim
                </a>
                VIP karta zdarma</strong
              >
            </li>
            <li>
              <strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis enim
              </strong>
            </li>
            <li>
              <strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis enim
              </strong>
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis enim
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis enim Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Perferendis enim
            </li>
          </ol>
          <p>
            Nejeden filozof by mohl tvrdit, že balónky se sluncem závodí, ale
            fyzikové by to jistě vyvrátili. Z fyzikálního pohledu totiž balónky
            působí zcela nezajímavě.
          </p>
        </div>
        <div class="col-lg-6">
          <img src="images/content/b.png" alt="" />
        </div>
        <div class="col-12">
          <div class="table-statistics">
            <h2>Tabulka</h2>
            <table>
              <thead>
                <tr>
                  <th>1</th>
                  <th>Hlavní pole</th>
                  <th>33</th>
                  <th>0</th>
                  <th>88</th>
                  <th>0</th>
                  <th>77</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4</td>
                  <td>Hlavní pole</td>
                  <td>30</td>
                  <td>41</td>
                  <td>12</td>
                  <td>65</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Hlavní pole</td>
                  <td>1</td>
                  <td>4</td>
                  <td>55</td>
                  <td>55</td>
                  <td>31</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Hlavní pole</td>
                  <td>32</td>
                  <td>54</td>
                  <td>98</td>
                  <td>76</td>
                  <td>98</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Hlavní pole</td>
                  <td>33</td>
                  <td>89</td>
                  <td>101</td>
                  <td>32</td>
                  <td>101</td>
                </tr>
              </tbody>
            </table>
          </div>
          <table>
            <thead>
              <tr>
                <th>První sloupec</th>
                <th>Druhý sloupec</th>
                <th>Třetí a poslední sloupec</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Obsah prvního sloupce</td>
                <td>Další obsah sloupce</td>
                <td>
                  Obsah třetího a posledního sloupce, který je tentokrát o něco
                  delší.
                </td>
              </tr>
              <tr>
                <td>Obsah prvního sloupce</td>
                <td>Další obsah sloupce</td>
                <td>
                  Obsah třetího a posledního sloupce, který je tentokrát o něco
                  delší.
                </td>
              </tr>
              <tr>
                <td>Obsah prvního sloupce</td>
                <td>Další obsah sloupce</td>
                <td>
                  Obsah třetího a posledního sloupce, který je tentokrát o něco
                  delší.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
